{% extends "header.html" %}

{% block title %}
Repositories
{% endblock %}

{% block body %}
    <h3>All my Files here</h3>
    <table>
        <tr>
            <th>
                Files
            </th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <table>
        <tr>
            <th>
                Directories
            </th>
        </tr>
        {% for directory in directories %}
            <tr>
                <td><a href="{{directory}}/" >{{ directory }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}